.ant-advanced-search-form {
    padding: 24px;
  }
  
  .ant-advanced-search-form .ant-form-item {
    display: flex;
  }
  
  .ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
  }
  .search-button {
    margin-left: 12px;
    top:4px;
    margin-left: 20px;
  }

  .ant-form {
    position: relative;
  }
  
  .ant-form-item-label {
    overflow: inherit !important;
  }
