*.log.*
.idea/*
log/*
.idea
target/
*.iml
*git.properties
newbiest-amazon/*
newbiest-guoshijiazu/*
*.log

*.zip

newbiest-admin-server/.mvn/wrapper/maven-wrapper.jar

newbiest-admin-server/.mvn/wrapper/maven-wrapper.properties

newbiest-admin-server/mvnw

newbiest-admin-server/mvnw.cmd

*.class

*.class

*.iml

*.xls
.DS_Store
