*.log.*
.idea/*
log/*
.idea
target/
bin/
*.iml
*git.properties
newbiest-amazon/*

*.log

*.zip

newbiest-admin-server/.mvn/wrapper/maven-wrapper.jar

newbiest-admin-server/.mvn/wrapper/maven-wrapper.properties

newbiest-admin-server/mvnw

newbiest-admin-server/mvnw.cmd
